*{
    margin: 0;
    padding: 0;
}
div#container{
    width: 100em;
    margin: 0 auto;

}

header, footer, nav, article, aside{
    padding: 1em;
    border: 1px solid green;
    margin: 1em;
}

header {
    text-align: center;
    background-color: azure;
    color: green;
}

nav {
    background-color: azure;
}

main{
    display: flex;
    justify-content: space-between;
}

article{
    width: 50%;
    min-height: 30em;
}

aside{
    width: 50%
}

ul{
    display: flex;
}

li {
    list-style-type: none;
}

li a{
    margin: 0 1em;
    color : green;
    font-weight: bolder;
    text-decoration: none;
    font-size: 1.3em;
}

footer {
    text-align: center;
    color: green;
    font-weight: bold;
    background-color: azure;
}
